== Configuration parameters of module {{module}}

|===
|*Property*|*Description*|*Type*|*Mandatory*|*Example*|*Default*
{{#properties}}
|`{{{property}}}`
|{{{description}}}
|{{{type}}}
|{{{mandatory}}}
|{{{example}}}
|{{{default}}}
{{/properties}}
|===
